<h1>Salut<%= @bet.receiver_firstname %> !</h1>

<p>Ton ami(e)<%= @bet.user.username %> a décidé de faire appel à notre service Betfriends pour <strong>"graver dans le marbre d'internet"</strong> le pari que vous avez fait ensemble : </p>

<p>Il a indiqué que votre pari est :</p>

<p><%= @bet.description %></p>

<p>L'enjeu de votre pari</p>

<p><%= @bet.bet_value %></p>

Grâce à nous, vous recevrez si besoin un email de rappel le <%= @bet.end_date_of_bet %> pour savoir qui a gagné ou perdu le pari.

Tu es ok ? Alors rends-toi sur ce lien pour accepter le pari !

<p><%= link_to "Go to BET FRIENDS", bet_url(@bet), class: "btn btn-warning btn-lg banner-button" %></p>

<h2>Bienvenue sur Betfriends ! Le service le plus simple et sympa pour enregistrer des paris entre amis ;)</h2>
