


<div class="index-page">
  <% @bets.each do |bet| %>
    <div class="index-category"><%= bet.description %></div>
    <div class="index-description">
      <h4><%= bet.status %></h4>
      <p>Adversaire : <%= bet.receiver_email %></p>
      <p>Mise : <%= bet.bet_value %></p>
      <p>Fin : <%= bet.end_date_of_bet %></p>
      <%= link_to "Voir le pari", bet_url(bet), class: "btn btn-warning btn-lg banner-button" %>
    </div>
    <a class="index-link" href="#" ></a>
  <% end %>
</div>
