

<div class="index-page">

  <div class="row"></div>

    <% @bets.each do |bet| %>
      <div class="col-xs-12">
        <div class="bet">
          <p><%= bet.description %></p>
          <div class="container">
            <div class="pink-stripe-lg"></div>

            <% if bet.pending? %>
              <div class="grey-cube"></div>
            <% end %>

            <% if bet.accepted? %>
              <div class="pink-cube"></div>
            <% end %>

            <% if bet.won? %>
              <div class="green-cube"></div>
            <% end %>

            <% if bet.lost? %>
              <div class="red-cube"></div>
            <% end %>

            <div class="in-bet">
              <p><strong>Adversaire : </strong><%= bet.receiver_email %></p>
              <p><strong>Mise : </strong><%= bet.bet_value %></p>
              <p><strong>Fin : </strong><%= bet.end_date_of_bet %></p>
              <%= link_to "Voir le pari", bet_url(bet), class: "btn btn-warning btn-lg banner-button" %>
            </div>

            <a class="index-link" href="#" ></a>
          </div>
        </div>
      </div>
    <% end %>

    <div class="white-cube"></div>

  </div>

  <div class="foot">
    <div class="in-foot"><em>Victoires : </em> <strong>4</strong></div>
    <div class="in-foot"><em>Défaites : </em> <strong>2</strong></div>
  </div>
</div>
