

<div class="index-page">

  <div class="row"></div>

    <% @bets.each do |bet| %>
    <!-- à enlever -->



<!-- carré de couleur -->
      <div class="col-xs-12">
        <div class="bet">
          <p><%= bet.description %></p>

          <div class="container">
            <div class="pink-stripe-lg"></div>

            <div class="box-hole"></div>
            <div class="box-hole2"></div>

            <% if bet.pending? %>
              <div class="grey-cube"><%=image_tag("homerpending.png", height: '62')%></div>
            <% end %>

            <% if bet.accepted? %>
              <div class="pink-cube"><%=image_tag("homerwait.png", height: '62')%></div>
            <% end %>

            <% if bet.won? %>
              <% if current_user.bet_creator?(bet) %>
                <div class="green-cube"><%=image_tag("homerwin.png", height: '62')%></div>
              <% else %>
                <div class="red-cube"><%=image_tag("lisalose.png", height: '63')%></div>
              <% end  %>
            <% end %>

            <% if bet.lost? %>
              <% if current_user.bet_creator?(bet) %>
                <div class="red-cube"><%=image_tag("lisalose.png", height: '63')%></div>
              <% else %>
                <div class="green-cube"><%=image_tag("homerwin.png", height: '62')%></div>
              <% end  %>
            <% end %>


            <!-- status -->
            <% if bet.pending? %>
              <div class="status-pending"><p>En attente</p></div>
            <% end %>

            <% if bet.accepted? %>
              <div class="status"><p>Accepté</p></div>
            <% end %>

            <% if bet.won? %>
              <% if current_user.bet_creator?(bet) %>
                <div class="status"><p>Gagné</p></div>
              <% else %>
                <div class="status"><p>Perdu</div>
              <% end  %>
            <% end %>

            <% if bet.lost? %>
              <% if current_user.bet_creator?(bet) %>
                <div class="status"><p>Perdu</p></div>
              <% else %>
                <div class="status"><p>Gagné</p></div>
              <% end  %>
            <% end %>


       <!--  description -->
            <div class="in-bet">
              <% if current_user.bet_creator?(bet) %>
                <p><strong>Adversaire : </strong><%= bet.receiver_firstname %></p>
              <% else %>
                <p><strong>Adversaire : </strong><%= bet.user.username %></p>
              <% end  %>
              <p><strong>Mise : </strong><%= bet.bet_value %></p>
              <p><strong>Fin : </strong><%= bet.end_date_of_bet %></p>
              <%= link_to "Voir le pari", bet_url(bet), class: "btn btn-warning btn-lg banner-button" %>

              <!-- à enlever -->
          <!--     <p> Ce bet a été créé par <strong> <%= bet.user.username %> </strong></p>
              <p> <%= bet.deadline_hour %></p> -->
              <!-- à enlever -->

            </div>

            <a class="index-link" href="#" ></a>
          </div>
        </div>
      </div>
    <% end %>

    <div class="white-cube"></div> <!-- pour ajouter du blanc lorsque aucun pari -->

  </div>


<!-- footer  -->
    <div class="foot-pink">
      <div class="in-foot">
        <em>Victoires : </em> <strong><%= current_user.won_bets_count %></strong>
      </div>

      <% if current_user.win_rate == 0 %>
        <div class="in-foot-circle-red">
          <strong>0</strong> <em>%</em>
        </div>
      <% elsif current_user.win_rate > 69 %>
        <div class="in-foot-circle-green">
          <strong><%= current_user.win_rate.to_i %></strong> <em>%</em>
        </div>
      <% elsif current_user.win_rate <= 35 %>
        <div class="in-foot-circle-red">
          <strong><%= current_user.win_rate.to_i %></strong> <em>%</em>
        </div>
      <% else %>
        <div class="in-foot-circle-orange">
          <strong><%= current_user.win_rate.to_i %></strong> <em>%</em>
        </div>
      <% end %>

      <div class="in-foot"><em>Défaites : </em> <strong><%= current_user.lost_bets_count %></strong></div>
    </div>




<!-- barre rouge -->
  <!-- <div class="foot"></div> -->
<!-- barre verte -->






