<div class="register">

  <div class="register-box">
    <h3>Décris ton BET</h3>
    <div class="reference"></div>
  </div>

    <%= simple_form_for [@bet] do |f| %>
      <div class="register-box"><%= f.input :description, label: false, :required => false, placeholder: "La France va gagner la Coupe du Monde" %></div>
      <div class="register-box"><%= f.input :bet_value, label: false, :required => false, placeholder: "Mise: Une bière? Un resto? 10 balles?" %></div>
      <div class="register-box"><%= f.input :hour_countdown, label: false, :required => false, as: :integer, placeholder: "48h pour accepter le pari"%></div>

      <div class="register-box"><%= f.input :end_date_of_bet, label: false, :required => false, placeholder: "Date de fin du pari", html5: true %></div>

      <div class="register-box"><%= f.input :receiver_email, label: false, :required => false, placeholder: "Email de ton pote" %></div>

      <div class="register-box"><%= f.button :submit, class: "btn btn-warning btn-block banner-button" %></div>
    <% end %>
</div>

