<div class="register">

  <div class="register-box">
    <h3>Décris ton BET</h3>
    <div class="reference"></div>
  </div>

    <%= simple_form_for [@bet] do |f| %>
      <div class="register-box"><%= f.input :description, label: false, :required => false, placeholder: "Ton BET: La France va gagner la Coupe du Monde" %></div>
      <div class="register-box"><%= f.input :bet_value, label: false, :required => false, placeholder: "Mise: Une bière? Un resto? 10 balles?" %></div>
      <div><h5>Délai pour accepter le pari</h5></div>
      <div class="register-box">
        <%= f.input :hour_countdown,
            label: false,
            required: false,
            as: :range,
            input_html: {
              min: "1",
              max: "24",
              step: "1",
              class: "slider",
              id: "hour-range"
            },
            placeholder: "24h pour accepter le pari" %>
            <h5>Nombre d'heures : <span id="range-value"></span></h5>
      </div>

      <div class="register-box"><%= f.input :end_date_of_bet, label: false, :required => false, placeholder: "Date de fin du pari",as: :string, imput_html: { class: "datepicker" } %></div>

      <div class="register-box"><%= f.input :receiver_firstname, label: false, :required => false, placeholder: "Prénom de ton pote" %></div>

      <div class="register-box"><%= f.input :receiver_email, label: false, :required => false, placeholder: "Email de ton pote" %></div>

      <div class="register-box"><%= f.button :submit, class: "btn btn-warning btn-block banner-button" %></div>
    <% end %>
</div>


