<div class="abstract">

  <div class="alert-box">
    <%=image_tag("alert2.png", height: '100', width: '110')%>
  </div>

  <div class="alert-box">
    <% if @bet.pending? %>
     <h3>Tu as reçu un BET</h3>
    <% end %>
    <% if @bet.accepted? %>
     <h3>Qui va gagner le BET?</h3>
    <% end %>
    <% if @bet.won? %>
     <h3>Tu as gagné ce BET !</h3>
    <% end %>
    <% if @bet.lost? %>
     <h3>Tu as perdu ce BET</h3>
    <% end %>
    <div class="stabil"></div>
  </div>

  <div class="abstract-box">
    <p>
      <strong><%= @bet.user.username %></strong> est prêt à parier <strong><%= @bet.bet_value %></strong> que <strong><%= @bet.description %></strong>.
    </p>

    <p>
      Tu as <strong><%= @bet.hour_countdown %> heures</strong> pour accepter ou refuser le BET.
    </p>

    <div class="alert-box">
      Le pari prendra fin le <strong><%= @bet.end_date_of_bet %></strong>
      <div class="stabil2"></div>
    </div>
  </div>


  <div class="pink-button-box">
    <% if @bet.pending? %>
      <%= link_to "Accepter le BET", bet_path(@bet, bet: {status: "accepted", receiver_email: @bet.receiver_email}), method: :put, class: "btn btn-warning btn-block" %>
      <%= link_to "Refuser le BET", bet_path(@bet, bet: {status: "refused", receiver_email: @bet.receiver_email }), method: :put, class: "btn btn-primary btn-block" %>
    <% end %>

    <% if @bet.accepted? %>
      <%= link_to "WON", bet_path(@bet, bet: {status: "won"}), method: :put, class: "btn btn-warning btn-block" %>
      <%= link_to "LOST", bet_path(@bet, bet: {status: "lost"}), method: :put, class: "btn btn-primary btn-block" %>
    <% end %>
  </div>

</div>

