<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://acedixon.com/wp-content/uploads/2017/03/a-10.jpg');">

  <div class="recap-box">

      <h2>YOU HAVE RECEIVED A FRIEND'S BET</h2>
        <div class="text-content">
          <%= @bet.user.username %> a parié que <%= @bet.description %>
        </div>

        <div class="text-content">
          <%= @bet.user.username %> a jusqu'au <%= @bet.end_date_of_bet %> pour prouver qu'il a gagné son paris
        </div>

        <div class="text-content">
          <%= @bet.user.username %> est prêt à parier <%= @bet.bet_value %> sur le coup !
        </div>

        <div class="text-content">
          Temps restant pour faire ton choix :
          <%= @bet.hour_countdown %> heures
        </div>



        <% if @bet.pending? %>
          <div>
            <%= link_to "Accepter le challenge", bet_path(@bet, bet: {status: "accepted"}), method: :put, class: "btn btn-warning btn-block" %>
          </div>

          <div>
            <%= link_to "Refuser le challenge", bet_path(@bet, bet: {status: "refused"}), method: :put, class: "btn btn-primary btn-block" %>
          </div>
        <% end %>

        <% if @bet.accepted? %>
          <div>
            <%= link_to "WON", bet_path(@bet, bet: {status: "won"}), method: :put, class: "btn btn-warning btn-block" %>
          </div>

          <div>
            <%= link_to "LOST", bet_path(@bet, bet: {status: "lost"}), method: :put, class: "btn btn-primary btn-block" %>
          </div>
        <% end %>

  </div>
</div>

